<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.omecmart">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".login"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Daftar"
            android:label="Daftar Member" />
        <activity android:name=".ServicePanggilan" />
        <activity android:name=".TampilanMap" />
        <activity android:name=".ListBengkel" />
        <activity
            android:name=".verifikasipass"
            android:label="Masuk" />
        <activity
            android:name=".Daftar1"
            android:label="Daftar" />
        <activity android:name=".ServiceRutin" />
        <activity android:name=".ServicePanggilan1" />
        <activity
            android:name=".bookingservice"
            android:label="Booking Service" />
        <activity android:name=".home"
            android:label="OMecMart"></activity>
    </application>

</manifest>